// Paleta de colores

$colors:(
	primary: #2D4B4F,
  secondary: #39A29B,
  secondaryt: rgba(57, 162, 155, 0.8),
  tertiary: #47A367,
	success: #60d394,
  alert: #fb3640,
  bg: #EEEEED,
  text: rgb(70, 70, 70),
	withe: #ffffff,
	cta: #ff9f1c,
);

// $colorst: #2b9a93;
