:root{
  --max-width: 650px;
  @include mq(lgs){
    --max-width: 800px;
  }
}

.Main-contacto{
  width: 100%;
  height: 100%;
  padding-bottom: 1rem;
  background: linear-gradient(to right, rgb(71, 163, 103), rgb(43, 154, 147));
  @include mq(lgs){
    padding-bottom: 2rem;
  }
  & img{
    display: block;
    // border: 1px solid red;
  }
}

.contacto-header{
  // border: 1px solid red;
  text-align: center;
  color: white;
  width: 95%;
  max-width: var(--max-width);
  margin: 1rem auto;
  @include mq(md){
    max-width: var(--max-width);
  }
  & p{
    font-size: 1rem;
    @include mq(md){
      font-size: 1.1rem;
    }
  }
  & h2{
    --display: none;
    position: relative;
    font-family: $secondary-font;
    font-weight: 500;
    font-size: 1.8rem;
    @include mq(md){
      --display: block;
      font-size: 2.3rem;
    }
    @include mq(lgs){
      font-size: 3rem;
    }
    &:before{
      position: absolute;
      content: "";
      display: var(--display);
      top: 50%;
      width: 23%;
      height: 1px;
      background: white;
    }
    &:after{
      position: absolute;
      content: "";
      display: var(--display);
      top: 50%;
      right: 0;
      width: 23%;
      height: 1px;
      background: white;
    }
  }
}

.Formulario{
  // border: 1px solid red;
  width: 95%;
  max-width: var(--max-width);
  margin: 1rem auto;
  padding: 1rem 0;
  background-color: color(primary);
  color: white;
  text-align: center;
  @include mq(md){
    max-width: var(--max-width);
    margin: 2rem auto;
    padding: 1rem 0 2rem;
  }
  & h2{
    color: inherit;
    font-size: 3rem;
    font-family: $secondary-font;
    font-weight: 500;
    padding: 2rem 0 1rem;
    @include mq(lgs){
      font-size: 5rem;
    }
  }
}

.ContactForm > *{
  display: block;
}

.ContactForm{
  // border: 1px solid red;
  &-item{
    // border: 1px solid green;
    width: 95%;
    margin: 1rem 5% 1rem 0;
    display: flex;
    @include mq(md){
      width: 80%;
      // max-width: 500px;
      margin: 1rem 12% 1rem 8%;
    }
    & i{
      flex: 5%;
      padding: .5rem;
      font-size: 1.5rem;
      @include mq(lgs){
        font-size: 1.7rem;
        padding: 0 .5rem;
      }
    }
    & input, textarea{
      flex: 90%;
      padding-left: .5rem;
      outline-color: color(success);
      border: none;
      @include mq(md){
        font-size: 1.1rem;
      }
    }
  }
  &-item:last-child{
    // border: 1px solid red;
    margin: 1rem auto 0;
  }
}

.modal-php-false, .modal-php-true{
  position: relative;
  top: -30rem;
  font-size: 1.5rem;
  // border: 1px solid red;
  left: 25%;
  width: 50%;
  height: 3rem;
  line-height: 3rem;
  background: $degradadot;
  @include mq(md){
    top: -50rem;
  }
}

.modal-php-false::before{
  content: "\02718";
  display: inline-block;
  position: relative;
  top: 2px;
  margin-right: .5rem;
  color: color(alert);
}

.modal-php-true::before{
  content: "\2713";
  display: inline-block;
  position: relative;
  top: 2px;
  margin-right: .5rem;
  color: color(success);
}

// Modal errores

.modal-errores{
	display: flex;
	justify-content: center;
	align-items: center;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 3;
	width: 100%;
	height: 100vh;
	background-color: rgba(0,0,0,0.7);
	&-content{
		width: 95%;
		max-width: 400px;
		margin: auto;
		padding: 1rem;
		background-color: white;
		box-shadow: 0 0 15px rgba(0,0,0,0.5);
		& h3{
			text-align: center;
			letter-spacing: 2px;
			font-size: 1.5rem;
			text-transform: uppercase;
			font-weight: 600;
			&::after{
				content: "";
				display: block;
				width: 100%;
				height: 1px;
				background: #C5C5C5;
				margin: 10px 0 15px;
			}
		}
		& p{
			color: #606060;
			letter-spacing: 2px;
			&::before{
				content: "\02718";
				display: inline-block;
				position: relative;
				top: 2px;
				margin-right: .5rem;
				color: color(alert);
			}
		}
	}
}

#btnClose{
  float: right;
  padding: .5rem 1rem;
  color: white;
  background: $degradado;
  cursor: pointer;
  border-radius: 5px;
  // border: 1px solid red;
  &:hover{
    opacity: .8;
  }
  &:active{
    transform: scale(.95);
  }
}
