.Main-home{
  width: 95%;
  height: auto;
  min-height: 85vh;
  margin: 1rem auto;
  // border: 1px solid red;
  background-color: color(bg);
}

.Contenedor-card{
  // background-color: red;
  @include mq(md){
    margin-top: 2rem;
    grid-gap: 1rem;
    display: grid;
    padding: 2rem 0;
    grid-template-columns: repeat(3, 1fr);
  }
}

.Contenedor-tarjeta{
  margin-bottom: 1rem;
  @include mq(md){
    margin-bottom: 0;
  }
  & a{
    display: inline-block;
  }
}

.Contenedor-tarjeta:hover .Figure{
  @include mq(lgs){
    transform: perspective(600px) rotateY(180deg);
  }
}

.Contenedor-tarjeta:hover .Delantera-text{
  @include mq(lgs){
    opacity: 0;
  }
}

.Figure{
  width: 100%;
  height: 100%;
  margin: 0;
  position: relative;
  transition: all ease .5s;
  transform-style: preserve-3d;
  transform: perspective(600px) rotateY(0deg);
  // @include mq(md){
  //   height: 15rem;
  // }
}

.Delantera, .Trasera{
  width: 100%;
  height: 100%;
  transition: all ease .5s;
}

.Delantera{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  overflow: hidden;
  // background-color: green;
  &-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    grid-row: 1 / 2;
    grid-column: 1;
    & img{
      width: 100%;
      height: 100%;
      display: block;
    }
  }
  &-text{
    grid-row: 1 / 2;
    grid-column: 1;
    text-align: center;
    padding-top: 43%;
    opacity: 0;
    @include mq(lgs){
      opacity: 1;
    }
    & h2{
      color: white;
      font-family: $secondary-font;
      font-weight: 500;
      font-size: 2.5rem;
      @include mq(md){
        font-size: 1.7rem; //agrandar segun pantalla
      }
    }
    & img{
      width: 20%;
      margin: auto;
    }
  }
}

.Trasera{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(4, minmax(min-content, 1fr));
  overflow: hidden;
  background: color(secondaryt);
  position: absolute;
  top: 0;
  align-items: center;
  // transform: perspective(600px) rotateY(180deg);
  // backface-visibility: hidden;
  transform: perspective(600px) rotateY(0deg);
  backface-visibility: visible;
  @include mq(lgs){
    transform: perspective(600px) rotateY(180deg);
    backface-visibility: hidden;
  }
  &-title{
    text-align: center;
    color: white;
    font-family: $secondary-font;
    font-weight: 500;
    font-size: 3rem;
    margin-top: 1rem;
    align-self: center;
    // border: 1px solid red;
    @include mq(md){
      font-size: 1.7rem;
      margin-top: .25rem;
    }
  }
  &-img{
    width: 30%;
    margin: 1rem auto .5rem;
    // border: 1px solid red;
    // align-self: center;
    @include mq(sm){
      width: 25%;
      margin: .5rem auto .25rem;
    }
    @include mq(md){
      width: 20%;
      margin: 0 auto;
    }
  }
  &-description{
    text-align: center;
    text-transform: uppercase;
    padding: 0 .5rem;
    color: white;
    // border: 1px solid red;
    align-self: center;
    @include mq(sm){
      padding: .5rem .7rem;
      font-size: .9rem;
    }
    @include mq(smm){
      padding: 1rem .7rem;
      font-size: 1rem;
    }
    @include mq(md){
      font-size: .7rem;
      text-transform: none;
    }
  }
  &-more{
    width: 5rem;
    margin: 1rem auto 0;
    text-align: center;
    color: white;
    text-transform: uppercase;
    border-top: 1px solid white;
    padding-top: .5rem;
    @include mq(sm){
      font-size: .9rem;
      padding-top: .25rem;
    }
    @include mq(smm){
      font-size: 1rem;
    }
    @include mq(md){
      font-size: .7rem;
      text-transform: none;
      // padding: .5rem 0;
      // align-self: center;
      margin-top: .25rem;
      border-top: 0;
    }
  }
}

.more3{
  @include mq(md){
    margin-top: 0;
    // padding-top: 0;
  }
}

.descripcion-larga{
  @include mq(md){
    padding: 0 .25rem;
  }
}

.hacemos{
  width: 100%;
  height: 100%;
  margin-top: 1rem;
  // border: 3px solid red;
  @include mq(lgm){
    margin-top: 3rem;
  }
}

.c-content-hacemos{
  width: 100%;
  margin: .5rem auto 0;
  // border: 1px solid green;
  background-color: color(bg);
  @include mq(md){
    // width: 90%;
    margin: 1rem auto;
    display: grid;
    grid-gap: 2rem;
    grid-template-columns: 30% 1fr;
  }
  &-img{
    position: relative;
    & img{
      display: block;
      height: 100%;
    }
    & figcaption{
      position: absolute;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;
      width: 100%;
      height: 100%;
      top: 0;
      right: 0;
      background: $degradadot;
      & h2{
        font-size: 4rem;
        font-weight: 500;
        text-align: center;
        font-family: $secondary-font;
        color: white;
        @include mq(md){
          font-size: 3rem;
        }
        @include mq(lgm){
          font-size: 3.7rem;
        }
      }
      & img{
        width: 40%;
        height: auto;
      }
    }
  }
}
.c-content-hacemos-article{
  // border: 2px solid green;
  width: 100%;
  margin: .5rem auto 0;
  @include mq(md){
    margin: 0;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr minmax(min-content, max-content);
    @include mq(lgm){
      padding: 1rem 0 0;
    }
  }
  &-parrafos p{
    padding: .5rem;
    color: color(text);
    font-size: 1.3rem;
    @include mq(md){
      // padding: 0;
      margin-bottom: .5rem;
      font-size: 1rem;
      @include mq(lgm){
        font-size: 1.3rem;
      }
    }
  }
  &-img{
    display: block;
    @include mq(md){
      display: grid;
      grid-gap: 1rem;
      grid-template-columns: repeat(3, 1fr);
      align-self: end;
    }
    & img{
      display: block;
      margin: .5rem 0 0;
      @include mq(md){
        margin: 0;
        width: 100%;
      }
    }
  }
}


