.Main-home{
  width: 95%;
  height: auto;
  min-height: 85vh;
  margin: 1rem auto;
  border: 1px solid red;
  background-color: color(bg);
}

.content-card{
  border: 1px solid red;
  @include mq(md){
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}
.card-rotate{
  // border: 1px solid red;
  width: 95%;
  margin: .5rem auto;
  cursor: pointer;
  &:hover figure{
    transform: perspective(600px) rotateY(0deg);
    @include mq(md){
      transform: perspective(600px) rotateY(180deg);
    }
  }
  &:hover figure .delantera .delantera-text{
    display: none;
  }
  &-figure{
    margin: 0;
    position: relative;
    transition: all ease.5s;
    transform-style: preserve-3d;
    transform: perspective(600px) rotateY(0deg);
    & img, .trasera{
      width: 100%;
      height: 100%;
      transition: all ease .5s;
    }
    & .delantera{
      position: relative;
      & img{
        display: block;
      }
      &-text{
        position: absolute;
        top: 0;
      }
    }
    & .trasera{
      display: flex;
      flex-wrap: wrap;
      position: absolute;
      top: 0;
      background: $degradadot;
      transform: perspective(600px) rotateY(180deg);
      & img{
        width: 30%;
        height: 30%;
        margin: auto;
        // border: 1px solid red;
      }
    }
  }
}

.card-rotate-title{
  text-align: center;
  width: 100%;
  font-family: $secondary-font;
  font-weight: 500;
  color: white;
  font-size: 3.7rem;
  line-height: 3.5rem;
}

.card-rotate-description{
  width: 100%;
  padding: 0 1rem;
  color: white;
  font-size: .9rem;
  text-align: center;
}

.btn-modal{
  width: 100%;
  text-transform: uppercase;
  text-align: center;
  color: white;
  position: relative;
  &:before{
    position: absolute;
    content: "";
    width: 5rem;
    top: -2px;
    left: calc(50% - 2.5rem);
    border-top: 1px solid white;
  }
}

.modal{
  // display: none;
  position: fixed;
  z-index: z-index(capa10);
  overflow: auto;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: color(secondaryt);
  transform: scale3d(0,0,0);
  &.zoom-in{
		animation: zoomIn .5s forwards;
		@keyframes zoomIn{
			to{
				transform: scale3d(1,1,1);
			}
		}
	}
	&.zoom-out{
		animation: zoomOut .5s forwards;
		@keyframes zoomOut{
			from{
				transform: scale3d(1,1,1);
			}
			to{
				transform: scale3d(0,0,0);
			}
		}
  }
}

.c-content-modal{
  width: 95%;
  margin: .5rem auto;
  border: 1px solid green;
  background-color: color(bg);
  @include mq(md){
    width: 90%;
    margin: 2rem auto;
    display: grid;
    grid-gap: 2rem;
    grid-template-columns: 30% 1fr;
  }
  &-img{
    position: relative;
    & img{
      display: block;
    }
    & figcaption{
      position: absolute;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;
      width: 100%;
      height: 100%;
      top: 0;
      right: 0;
      background: $degradadot;
      & h2{
        font-size: 4rem;
        font-weight: 500;
        text-align: center;
        font-family: $secondary-font;
        color: white;
      }
      & img{
        width: 40%;
      }
    }
  }
}
.c-content-modal-article{
  border: 2px solid green;
  width: 100%;
  margin: .5rem auto 0;
  @include mq(md){
    margin: 0;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 35%;
  }
  &-parrafos p{
    padding: .5rem 0;
    color: color(text);
    font-size: 1.3rem;
    @include mq(md){
      padding: 0;
      margin-bottom: .5rem;
      font-size: 1.2rem;
    }
  }
  &-img{
    display: block;
    @include mq(md){
      display: grid;
      grid-gap: 1rem;
      grid-template-columns: repeat(3, 1fr);
      align-self: end;
    }
    & img{
      display: block;
      margin: .5rem 0 0;
      @include mq(md){
        margin: 0;
      }
    }
  }
}

.closeModal{
  position: absolute;
  top: .5rem;
  right: 1rem;
  color: white;
  font-size: 2.5rem;
  cursor: pointer;
}
