.content-inicio{
  width: 100%;
  height: 100%;
  margin: auto;
  overflow: hidden;
  // border: 2px solid red;
}

.Slider{
  display: flex;
  width: 500%;
  &-item{
    width: 100%;
    position: relative;
    & p{
      color: white;
      font-family: $secondary-font;
      font-size: 4rem;
      position: absolute;
      top: calc(50% - 4rem);
      width: 100%;
      padding: 0 5%;
      text-align: center;
      // border: 1px solid red;
      @include mq(smm){
        padding: 0 7%;
      }
      @include mq(mdl){
        font-size: 6rem;
        top: calc(50% - 5rem);
      }
    }
  }
}

.item4 p, .item5 p{
  top: calc(50% - 7rem);
  @include mq(smH){
    top: calc(50% - 4rem);
  }
  @include mq(md){
    top: calc(50% - 4rem);
  }
  @include mq(mdl){
    top: calc(50% - 4.5rem);
  }
}

.prev, .next{
  position: absolute;
  top: 59%;
  color: white;
  padding: 10px;
  font-size: 1.5rem;
  cursor: pointer;
  @include mq(smH){
    top: calc(50vh + 3rem);
  }
  @include mq(md){
    top: calc(50vh + 2rem);
  }
  @include mq(mdl){
    font-size: 2rem;
    top: calc(50% + 3rem);
  }
  @include mq(lgs){
    top: calc(50% + 4rem);
    &:hover{
      color: color(secondary);
    }
  }
}

.next{
  right: 0;
}

.Slider > section{
  width: 100%;
  height: 100vh;
  position: relative;
  background-size: cover;
  background-position: center;
}

.item1{background-image: img('innovacion.jpg');}
.item2{background-image: img('ideas.jpg');}
.item3{background-image: img('desafios.jpg');}
.item4{background-image: img('soluciones.jpg');}
.item5{background-image: img('aprendizaje.jpg');}


