.Main-somos{
  width: 95%;
  height: auto;
  min-height: 85vh;
  margin: 1rem auto;
  border: 1px solid red;
  background-color: color(bg);
}

.c-somos{
  width: 95%;
  margin: auto;
  border: 1px solid green;
  background-color: white;
  @include mq(md){
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
