.c-footer{
  background-color: color(primary);
  text-align: center;
  padding: 1rem 0 .5rem;
  // border: 1px solid red;
  & p{
    color: white;
    padding-bottom: 1rem;
    font-family: $menu-font;
  }
  & a{
    color: white;
    font-family: $menu-font;
    &:hover{
      color: color(secondary);
    }
  }
  & small{
    color: white;
    font-size: .9rem;
    font-family: $menu-font;
  }
  &-sociales{
    padding: 1rem;
    & a{
      font-size: 2rem;
      margin: .5rem;
    }
  }
}

.autor{
  display: flex;
  padding: 0;
  margin-top: .5rem;
  // border: 1px solid red;
  justify-content: center;
  & p{
    padding: 0;
    margin-right: 3px;
    font-size: .9rem;
  }
  & a{
    font-size: .9rem;
  }
}

#up{
  display: none;
  position: fixed;
  background-color: transparent;
  color: color(tertiary);
  font-size: 2.5rem;
  padding: .5rem;
  bottom: 9%;
  right: 10%;
  transition: color .5s;
  cursor: pointer;
  border: transparent;
  outline: transparent;
  &:hover{
    transform: scale(1.1);
  }
}
