.Header{
  background-color: color(primary);
  position: relative;
  display: grid;
  grid-template-columns: 40% 1fr minmax(min-content, max-content);
  @include mq(md){
    padding: 0 2.5%;
  }
  @include mq(lgm){
    grid-template-columns: 20% 1fr minmax(min-content, max-content) minmax(min-content, max-content) ;
    grid-template-areas:
                  "logo . menu sociales";
  }
}

.logo{
  padding: .5rem;
  @include mq(lgm){
    grid-area: logo;
    align-self: center;
    justify-self: center;
  }
  & a img{
    @include mq(md){
      width: 60%;
    }
    @include mq(lgm){
      margin-right: 0;
      width: 100%;
    }
  }
}

.header-sociales{
  align-self: center;
  justify-self: end;
  padding-right: .5rem;
  @include mq(md){
    padding-right: 1rem;
  }
  @include mq(lgm){
    grid-area: sociales;
  }
}

.custom-html-widget{
  position: relative;
  & a, i{
    color: white;
    font-size: 1rem;
    border: 1px solid white;
    border-radius: 50%;
    cursor: pointer;
    transition: opacity .3s;
    &:hover{
      opacity: .8;
    }
    @include mq(md){
      margin-left: .5rem;
    }
    @include mq(lgs){
      font-size: 1.3rem;
    }
    &::before{
      padding: 3px;
    }
  }
  & a{
    color: color(primary);
    background-color: white;
  }
}

.custom-html-widget .icon-facebook{
  position: relative;
  &:before{
    position: relative;
    top: 3px;
  }
}

.btn-menu{
  align-self: center;
  justify-self: center;
  padding-right: .5rem;
  @include mq(md){
    padding: 0;
  }
  @include mq(lgm){
    display: none;
  }
}

#mainMenu{
  background-color: white;
  position: absolute;
  width: 100%;
  max-height: 0;
  overflow: hidden;
  z-index: 1;
  top: 100%;
  transition: all .5s;
  @include mq(lgm){
    position: static;
    height: 100%;
    max-height: 7rem;
    grid-area: menu;
    background-color: color(primary);
    // border: 1px solid orange;
    align-self: center;
    justify-self: center;
  }
  & .menu-item{
    width: 90%;
    margin: auto;
    padding: 1rem 0;
    border-bottom: 1px solid color(primary);
    @include mq(lgm){
      border-bottom: none;
      padding: 0;
      width: auto;
      margin: 0;
      // border: 1px solid red;
      flex: auto;
      line-height: 6rem;
    }
    & a{
      display: flex;
      width: 100%;
      text-align: center;
      padding: 0 1rem;
      font-family: $menu-font;
      color: inherit;
      text-transform: uppercase;
      transition: all .3s;
      @include mq(lgm){
        color: white;
        height: 6rem;
        font-size: 1.3rem;
      }
      &:hover{
        background-color: white;
        @include mq(lgm){
          color: color(primary);
        }
      }
    }
  }
  & .menu-item:last-child{
    padding-bottom: 3rem;
    border-bottom: transparent;
    @include mq(lgm){
      padding: 0;
    }
  }
}

#menu-menu-principal{
  @include mq(lgm){
    height: 100%;
    display: flex;
  }
}

.btn-menu{
  color: white;
  & i{
    font-size: 2rem;
  }
}

.show-menu{
  max-height: 1000px !important;
  overflow: visible !important;
}

#phoneSpan, #mailSpan{
  position: absolute;
  font-size: .9rem;
  top: 2rem;
  left: 0;
  background-color: color(primary);
  &.zoom-in{
    animation: zoomIn .5s forwards;
    @keyframes zoomIn{
      to{
        transform: scale3d(1,1,1);
      }
    }
  }
  &.zoom-out{
    animation: zoomOut .5s forwards;
    @keyframes zoomOut{
      from{
        transform: scale3d(1,1,1);
      }
      to{
        transform: scale3d(0,0,0);
      }
    }
  }
}

#phoneSpan{
  left: .3rem;
  transform: scale3d(0,0,0);
}

#mailSpan{
  left: 2rem;
  transform: scale3d(0,0,0);

}
